<div class="container">
	<h1><b>Welcome to my blog - (WIP)</b></h1>
	
	<h3><b class="title">First post</b></h3>

	<div class="img">
		<p>image</p>
	</div>

	<p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi odio incidunt odit, dolorem soluta rem.
		Maiores accusantium id odio harum voluptates, omnis nisi voluptas quam fuga delectus quidem distinctio ipsa.
	</p>
	<p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi odio incidunt odit, dolorem soluta rem.
		Maiores accusantium id odio harum voluptates, omnis nisi voluptas quam fuga delectus quidem distinctio ipsa.
	</p>

	<form action="/" method="POST">
		<h3><b>Leave a comment:</b> </h2>
		<label for="author"><b>Name: </b></label>
		<input type="text" name="author" id="">
		<label for="blogPost"><b>Post: </b></label>
		<textarea name="blogPost" id="" cols="30" rows="10"></textarea>
		<input type="submit" value="Post">
	</form>
</div>